body,
html {
    height: auto;
    font-size: 13px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
}
ul,
li {
    list-style: none;
}
body,
html,
ul,
li,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
#header {
    background: url('../img/hdr-bg.jpg') 0 0 repeat-x;
    height: 121px;
}
#header:after,
.top-nav-section:after,
.wrapper:after {
    clear: both;
    display: block;
    content: "";
    height: 0;
}
.wrapper,
.content-section {
    width: 1010px;
    margin: 0 auto;
}
a {
    padding: 5px;
    text-decoration: inherit;
}
.top-nav-section {
    margin-bottom: 20px;
}
.top-nav-section li,
.brand-name,
.nav-container li {
    float: left;
    padding-left: 3px;
}
.top-nav-section li a {
    color: #88BCE8;
    display: block;
    padding: 8px 10px;
    transition: color 0.4s ease-in;
}
.top-nav-section li a:hover {
    color: #BDE1FF;
}
.pull-right {
    float: right;
}
.curved-section {
    background-color: #1B74B3;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 603px;
    height: 50px;
    background-image: url('../img/topbg.jpg');
    background-position: 0 0;
    background-repeat: repeat;
    padding-top: 6px;
}
.curved-section ul {
    float: left;
    border-right: 1px solid #2C6B8C;
    margin-top: 5px;
}
/*** Registration login ***/

.reg-login-nav,
.lang-section {
    float: left;
    display: inline-block;
    margin-top: 6px;
    padding: 0 5px;
}
.reg-login-nav {
    border-right: 1px solid #2C6B8C;
}
a.register,
a.login,
.lang-section h3 {
    padding: 6px 12px;
    display: inline-block;
    margin: 0 6px;
    text-transform: uppercase;
    box-shadow: 0 0 3px #000;
    transition: background 0.4s ease-in;
}
a.register {
    background-color: #F07905;
    color: #fff;
}
a.register:hover {
    background-color: #F09305;
}
a.login {
    background-color: #01375A;
    color: #fff;
    margin-left: 0;
}
a.login:hover {
    background-color: #045D96;
}
.lang-section {
    position: relative;
    cursor: pointer;
}
.lang-section h3 {
    background: #fff;
    font-size: 12px;
}
.fa-align {
    margin-left: 10px;
}
ul.lang-list {
    position: absolute;
    top: 24px;
    left: 11px;
    border-right: 0;
    background: #fff;
    width: 62.5px;
    font-size: 12px;
}
.lang-list li {
    float: none;
    padding: 8px 12px;
    background: #E8EEF9;
    margin: 1px;
    transition: background 0.4s ease-in;
}
.lang-list li:hover {
    background: #D1DAE2;
}
.icon-list {
    padding: 8px 0 0 0;
}
.fa.small-circle {
    font-size: 8px;
    color: #fff;
}
/**** logo ***/

.brand-name {
    width: 181px;
    height: 37px;
    background-image: url('../img/logo.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
}
/*** main nav ***/

.nav-container {
    float: right;
}
.nav-container ul li a {
    color: #fff;
    padding: 12px 20px;
    display: inline-block;
    background-color: rgba(77, 147, 199, 0.5);
    text-transform: uppercase;
    transition: background 0.4s ease-in;
}
.nav-container ul li a:hover {
    background-color: rgba(92, 161, 213, 1);
}
/**** Chart ****/

.chart-section {
    margin: 25px 0 0 0;
    padding: 10px;
    border: 10px solid #eee;
    transition: box-shadow 0.4s ease-in;
}
.chart-section:hover {
    box-shadow: 0 0 10px #898787;
}
#chart-container {
    width: 100%;
    height: 480px;
}